.header {
  height: 30vh;
  @include respond(phone) {
    height: 15vh;
  }
  // background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.3), rgba($color-primary-dark, 0.4));
  background-image: url('/thainine-banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  // box-shadow: 0 1rem 4rem rgba($color-black, .15);
  border-bottom: 8px solid $color-grey-light-4;
  &__logo-box {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__logo {
    height: 25rem;
  }

  &__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__menu {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
